{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Podcast</title>
    <link rel="stylesheet" href="{% static 'podcastapp/css/vendor/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'podcastapp/css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>