{% extends 'podcastapp/base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title is-size-4">Genres</h1>
                    <ul>
                        {% for data in genres.genres|dictsort:'name' %}
                            <li>{{ data.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}