{% extends 'podcastapp/base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-mobile is-multiline">
                <div class="column is-half has-text-left">
                    <h1 class="title is-size-4 is-size-6-mobile">Best by Genre</h1>
                </div>
                <div class="column is-half has-text-right">
                    <h1 class="title is-size-4 is-size-6-mobile">
                        <a href="{% url 'genres' %}">
                            Genres
                        </a>
                    </h1>
                </div>
                {% for data in by_genre.channels|dictsort:'title' %}
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="{{ data.image }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <h1 class="title is-size-5">
                                            <a href="{{ data.listennotes_url }}">
                                                {{ data.title }}
                                            </a>
                                        </h1>
                                        <p class="subtitle is-size-6">
                                            Published by {{ data.publisher }}
                                            <br>
                                            <a href="{{ data.website }}">
                                                <span class="icon">
                                                    <i class="fas fa-link fa-sm"></i>
                                                </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>
                                        {{ data.description|truncatechars:90|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}